<% if @resource.errors.any? %>
<ul>
  <% @resource.errors.full_messages.each do |msg| %>
    <li class="red_font_clr"><%= msg %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
  <div class="col s12">
    <div id="input-fields" class="card card-tabs custom-Card">
      <div class="card-content">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m6 l10">
              <h4 class="card-title"><%=  @resource.new_record? ?  'Create Holiday' : 'Edit Holiday'%></h4>
            </div>
          </div>
        </div>
        <div id="view-input-fields">
          <div class="row">
            <div class="col s12">
              <%= form_for @resource, class: 'row' do |f| %>
                <div class="col s12">
                  <div class="input-field col s12 custom-Card">
                     <%= f.select(:holiday_name, Holiday::HNAMES.map { |e| [e.humanize, e]  }, {:include_blank => "Select"}, {:class => "some_class"} ) %>
                    <label>Holiday</label>
                    <%#= f.text_field :holiday_name,id: "holiday_name" %><br />
                    <!-- <label for="holiday_name">holiday_name</label> -->
                  </div>
                  <div class="input-field col s12">
                    <div id="view-date-picker">
                      <label for="birthdate">Date</label>
                      <%= f.text_field :holiday_date, class: 'datepicker',id:"birthdate", :value => @resource.holiday_date&.strftime("%d-%m-%Y") %>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <%= f.submit 'Submit', class: "btn btn-success" %>
                    <%= link_to("Cancel", holidays_path , class: "btn cyan waves-effect waves-light" ) %>

                  </div>
                </div>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });
  });
</script>

<style type="text/css">
  .custom-Card{
    overflow: visible;
  }
</style>

