<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Holiday", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Holidays<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <% if current_user.admin? %>
                    <li><%= link_to 'ADD', new_holiday_path, class: "btn cyan waves-effect waves-lightc " %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col l3 m6 s12">
              <div class="select_width">
                <%#= select_tag "leave_type", options_for_select([ "Future", "Past" ], "Future"), class: "form-control leave_type_seletbox" %>
              </div>
            </div> -->
            <div class="col l3 m6 s12">
              <div class="year_warpper", id="year_warpper">
                <%= select_year(Date.today, :start_year => Date.today.year - 1, :end_year => 1.years.from_now.year) %>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12 table-responsive">
                <table class="holiday-table">
                  <thead>
                    <tr>
                      <th width="40%" data-field="id">Festival</th>
                      <th width="40%"  data-field="id">Date</th>

                      <th width="10%" ></th>
                      <th width="10%" ></th>
                    </tr>
                  </thead>
                  <tbody class="holiday_body">
                    <%= render partial: 'holiday', locals: { resources: @resources } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$('.leave_type_seletbox').on('change', function(){
  var leave_type = $(this).val();
  console.log(leave_type);
  $.ajax({
    url: "/holidays/holiday_filter",
    type: "GET",
    data: { leave_type: leave_type },
    dataType: "script"
  });
})

$('#year_warpper').find('#date_year').on('change', function(){
  var year = $(this).val();
  $.ajax({
    url: "/holidays/holiday_filter",
    type: "GET",
    data: { year: year },
    dataType: "script"
  });
})
</script>