<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Reminders", reminders_path , class: "breadcrumb") %>
      <%= link_to("View Details", '#' , class: "breadcrumb active") %>
    </div>
  </div>
</nav>
<div class="col s12 card-content-link">
  <div class="card card-tabs">
    <div class="card-content">
      <div class="card-title">
        <div class="row">
          <div class="col s12 m6 l10">
            <h5>Reminder Details</h5>
          </div>
        </div>
      </div>
    
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Reminder Date </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource.reminder_date_time.strftime("%d-%m-%y") %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Assigned To Users </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.reminder_users&.map{|u| u.assigned_to_user.full_name}.join(",")  %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Status </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource.status %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Title </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource.title %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Matter </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource.content.html_safe %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col s12">
  <div class="mobile-center">
    <%= link_to 'Edit', edit_reminder_path(@resource), class: 'btn btn-primary mb-2' %>
    <%= link_to 'Delete', reminder_path(@resource), class: 'btn waves-effect waves-light red accent-2 mb-2',  method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to 'Completed', mark_completed_reminder_path(@resource), :method=> :patch, class: 'btn waves-effect waves-light green mb-2' if @resource.status == 'Upcoming'%>
    <%= link_to 'Back', reminders_path, class: 'btn cyan waves-effect waves-light mb-2' %>
  </div>
</div>
