<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Event Link", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
               <div class="col s12">
                <div class="card-title d-flex">
                <span class="font-26 flex-grow-1">Event Link</span>
                 <% if (can? :manage, EventLink) || (can? :create, EventLink) %>
                  <%= link_to 'ADD', new_event_link_path, class: "btn cyan waves-effect waves-lightc " %>
                <% end %>
              </div>
             </div>
            </div>
            <br>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12 table-responsive">
                <table id="event_link_table">
                  <thead>
                    <tr>
                      <th data-field="id">Name</th>
                      <% if (can? :manage, EventLink) || (can? :update, EventLink) || (can? :destroy, EventLink)  %>
                        <th></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                  	<% @resources.each do |event_link| %>
                      <tr>
    	              		<td>
    	              			<b><%= event_link&.event_category&.name %></b>-
                          <%= event_link.event_date&.strftime("%d %B %y") %>-
                          <%= link_to event_link&.title, event_link&.link, target: "_blank" %><br>
                          <%= event_link&.description %><br/>
    	              		</td>
  		              		<td>
  		              			<%= link_to 'Edit', edit_event_link_path(event_link.id) if (can? :manage, EventLink) || (can? :update, EventLink) %> 
                          <%= " | " if (can? :manage, EventLink) || ((can? :update, EventLink) && (can? :destroy, EventLink)) %> 
  		              			<%= link_to 'Delete', event_link_path(event_link.id), method: :delete, data: {confirm: "Are you sure?"} if (can? :manage, EventLink) || (can? :destroy, EventLink) %>
  		              		</td>
                  	<% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  
  $('#event_link_table').DataTable({
    "dom": 'lf<<"datatable-responsive"t>ip>',
    responsive: true
  });

</script>