<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Event Link", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
               <div class="col s12">
                <div class="card-title d-flex">
                <span class="font-26 flex-grow-1">Event Link</span>
                 <% if current_user.is_event_manager? || current_user.admin? %>
                  <%= link_to 'ADD', new_event_link_path, class: "btn cyan waves-effect waves-lightc " %>
                <% end %>
              </div>
             </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12 table-responsive">
              	<% @resources.each do |event_link| %>
	              	<div class="row">
	              		<div class="col s12 l10">
	              			<b><%= event_link&.title %></b><br/>
                      <%= event_link&.description %><br/>
	              			<%= link_to event_link&.link, event_link&.link, target: "_blank" %>
	              		</div>
	              		<% if current_user.is_event_manager? || current_user.admin?  %>
		              		<div class="col s12 l2">
		              			<%= link_to 'Edit', edit_event_link_path(event_link.id) %> | 
		              			<%= link_to 'Delete', event_link_path(event_link.id), method: :delete, data: {confirm: "Are you sure?"}  %>
		              		</div>
		              	<% end %>
	              	</div><br/>
              	<% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
