<div id="edit_user_tracker_modal" class="modal">
  <div class="modal-content">
    <h4>Tracker Detail</h4>
    <%= form_for :trackers, :url => url_for(:controller => 'users', :action => 'update_user_tracker') do |f| %>
      <div class="col s12">
        <div id="input-fields" class="card card-tabs">
          <div class="card-content">
            <div class="card-title">
              <div class="row">
                <div class="input-field col m6 s12">
                  <%= f.text_field :project_name, id: "project_name" , required: true , value: @tracker.project_name%>
                  <label id="project_name">Project Name</label>
                </div>

                <div class="input-field col m6 s12 custom-dropdown">
                  <%= f.text_field :tracker_name, id: "tracker_name" , required: true, value: @tracker.tracker_name %>
                  <label >Tracker Name</label>
                </div>
                <%= f.hidden_field :tracker_id, :value => @tracker.id %>
                <%= f.hidden_field :user_id, :value => @user.id %>
                <div class="input-field col m6 s12">
                  <%#= f.text_field :from, class: 'datepicker from_education_date',id:"start_education_date" %>
                  <%= f.text_field :start_date, class: 'datepicker leave_date',id:"start_date", required: true, value: @tracker.start_date %><br /><br />
                  <label for="from">Start Date</label>
                </div>

                <div class="input-field col m6 s12">
                  <%#= f.text_field :to, class: 'datepicker to_education_date',id:"end_education_date" %>
                  <%= f.text_field :end_date, class: 'datepicker leave_end_date',id:"end_date", required: true, value: @tracker.end_date %><br />
                  <label for="to">End Date</label>
                </div>

                <div class="input-field col m6 s12">
                  <%= f.check_box :is_current, {:id => "is_current",:value=> @tracker.is_current, :style => "opacity: initial;pointer-events: auto;"}, "", "" %>
                  <label for="to">Current</label>
                </div>
  

                <div class="input-field col m6 s12" >
                  <%= f.check_box :no_tracker, {:id => "no_tracker", :style => "opacity: initial;pointer-events: auto;margin-top:12px;"}, "", "" %>
                  <label for="no_tracker" style="margin-top:8px">No Tracker</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s12 mobile-center">
        <%= f.submit 'Submit' ,class: "btn btn-success mb-2" %>
        <a href="#!" class="modal-close btn cyan waves-effect waves-light mb-2">Cancel</a>
      </div>
    <% end %>
  </div>
</div>