<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>                
<div class="col s12">
  <div class="input-field col s12">
    <%= f.text_field :first_name,id: "first_name" %><br />
    <label for="first_name">first_name</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :last_name,id: "last_name" %><br />
    <label for="last_name">last_name</label>
  </div>

  <div class="input-field col s12">
    <%= f.email_field :email,  id: "personal_email" %><br />
    <label for="personal_email">personal_email</label>
  </div>


  <div class="input-field col s12">
    <%= f.email_field :comp_email,id: "comp_email" %><br />
    <label for="comp_email">comp_email</label>
  </div>


  <div class="input-field col s12">
    <%= f.text_field :emergency_contact,id: "emergency_contact" %><br />
    <label for="emergency_contact">emergency_contact</label>
  </div>


  <div class="input-field col s12">
    <%= f.text_field :contact,id: "contact" %><br />
    <label for="contact">contact</label>
  </div>


  <div class="input-field col s12">
     <label for="birthdate">Birthday</label>
    <%= f.text_field :birthday, class: 'datepicker',id:"birthdate" %>
  </div>


  <div class="input-field col s12">
    <%= f.select(:marital_status, User::MARITAL_STATUS.map { |e| [e.humanize, e]  }, {:include_blank => "Select"}, {:class => "some_class"} ) %>
    <label>Marterial Status</label>
  </div>


  <div class="input-field col s12">
    <label for="birthdate">Anniversary Date</label>
    <%= f.text_field :anniversary_date, class: 'datepicker',id:"birthdate" %>
  </div>


  <div class="input-field col s12">
    <label for="birthdate">Join Date</label>
    <%= f.text_field :join_date, class: 'datepicker',id:"birthdate" %>
  </div>

  <div class="input-field col s12">
    <%= f.select(:job_status, User::JOB_STATUS.map { |e| [e.humanize, e]  }, {:class => "some_class"} ) %>
    <label>Status</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :address,id: "address" %><br />
    <label for="address">address</label>
  </div>


  <div class="input-field col s12">
    <%= f.text_field :degree,id: "degree" %><br />
    <label for="degree">degree</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :experience,id: "experience" %><br />
    <label for="experience">experience</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :designation,id: "designation" %><br />
    <label for="designation">designation</label>
  </div>

  <div class="input-field col s12">
    <%= f.select(:mentor, User.all.collect{|p| [p.first_name, p.id]}, {:include_blank => "Select"}, {:class => "some_class"} ) %>
    <label>Mentor</label>
  </div>

  <div class="input-field col s12">
    <%= f.select(:dept, User::DEPARTMENT.map { |e| [e.humanize, e]  }, {:include_blank => "Select"}, {:class => "some_class"} ) %>
    <label>Department</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :adhar_no,id: "adhar_no" %><br />
    <label for="adhar_no">adhar_no</label>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :pan_no,id: "pan_no" %><br />
    <label for="pan_no">pan_no</label>
  </div>

  <div class="input-field col s12">
    <%= f.select(:user_type, User::USER_TYPE.map { |e| [e.humanize, e]  }, {:include_blank => "Select"}, {:class => "some_class"} ) %>
    <label>Type</label>
  </div>
  
  <div class="input-field col s12">
   <%= f.submit %>
  </div>
</div>
