<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Users<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <li><%= link_to 'ADD', new_user_path, class: "btn cyan waves-effect waves-lightc " %></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table>
                  <thead>
                    <tr>
                      <th data-field="id">Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Designation</th>
                      <th>Department</th>
                      <th>Mentor</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td><%= link_to user.full_name, user_path(user) %></td>
                        <td><%= user.email %></td>
                        <td><%= user.contact %></td>
                        <td><%= user.designation %></td>
                        <td><%= user.dept %></td>
                        <td><%= user.mentor %></td>
                        <td><%= link_to 'Edit', edit_user_path(user) %></td>
                        <td><%= link_to 'Delete', user_path(user.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
