<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Users", users_path , class: "breadcrumb") %>
      <%= link_to("View Details", "#" , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<% if @user.job_status == "Inactive" %>
  <div class="col s12">
    <div class="resign_alert">
      <span class="">Resigned: <%= @user&.resign_date&.to_date&.strftime('%d-%m-%Y') %> | <%= link_to("Withdraw Resignation", withdraw_resignation_user_path(@user) ) %></span>
    </div>
  </div>
<% end %>
 <div class="col s12 card-content-link">
      <div class="card card-tabs">
        <div class="card-content">
          <div class="col s12">
            <br>
          </div>
   <!--        <div class="col s12 m3">
            <div class="img_wrapper">
              <% if @user&.profile_picture&.attached? %>
                <%=  image_tag(@user&.profile_picture, class: 'responsive-img  z-depth-5', id: "crop_image") %>
              <% else %>
                <%= image_tag("avatar.png", class: 'responsive-img profile-img', id: "crop_image") %>
              <% end %>

              <% if current_user.id == @user.id || current_user.admin? %>
                <%= link_to "Remove", remove_profile_user_path(@user), :method => :delete, :class => "mat-raised-button", id: "remove_profile", style: "#{@user.profile_picture.attached? ? '' : 'display: none'}", data: {confirm: "Are you sure?"}%>
                <a class="custome_style">
                  <input type="file" id="upload" value="Choose a file" accept="image/*" style="display: none;" />
                  <span id="user_pic_span"><%= @user.profile_picture.attached? ? "Change photo" : "Add photo" %></span>
                </a>
              <% end %>
              <br>
              <br>
            </div>
          </div> -->
          <div class="col s12 m3">
            <div class="img_wrapper">
              <div class="profile-back">
                <% if @user&.profile_picture&.attached? %>
                  <%=  image_tag(@user&.profile_picture, class: 'responsive-img ', id: "crop_image") %>
                <% else %>
                  <%= image_tag("avatar.png", class: 'responsive-img profile-img', id: "crop_image") %>
                <% end %>
                </div> 
                <% if current_user.id == @user.id || current_user.admin? %>
               
                  <a class="profile_chnage_link">
                    <input type="file" id="upload" value="Choose a file" accept="image/*" style="display: none;" />
                    <span id="user_pic_span"><%= @user.profile_picture.attached? ? "Change photo" : "Add photo" %></span>
                  </a>
                     <%= link_to "Remove", remove_profile_user_path(@user), :method => :delete, :class => "mat-raised-button", id: "remove_profile", style: "#{@user.profile_picture.attached? ? '' : 'display: none'}", data: {confirm: "Are you sure?"}, class: 'profile_chnage_link'%>
                <% end %>

              <br>
              <br>
            </div>
          </div>
          <div class="col s12 m1">
          </div>
          <div class="col s12 m6">
            <h5><%= @user.full_name %></h5>
            <p><%= @user&.user_current_designation&.designation&.name %></p>
            <%= @user.job_status %>
            <p> Wish me on: <b> <%= @user.birthday&.strftime('%d %b') %> </b></p><br>
          </div>
        </div>
      </div>
    </div>


    <div class="col s12 card-content-link">
      <div class="card card-tabs">
        <div class="card-content">
          <!-- <h5>Contact Details</h5><br> -->
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h5>Contact Details</h5>
              </div>
              <% if current_user.id == @user.id && !current_user.admin? %>
                <div class="col s12 m6 l2">
                  <ul class="">
                    <li><a class="waves-effect waves-light btn modal-trigger" href="#edit_contact_detail_modal">Edit</a></li>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Email:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.email %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Official Email:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.comp_email %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Mobile:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.contact %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Emergency Mobile:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.emergency_contact %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Address</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.address %></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 card-content-link">
      <div class="card card-tabs">
        <div class="card-content">
              <div class="card-title">
                  <div class="row">
              <div class="col s12 m6 l10">
          <h5>Employment Details</h5>
        </div>
      </div>
        </div>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Employee Code:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.emp_code%></span>
            </div>
          </div>
          <br>

          <div class="row">  
            <div class="col s12 m3">
              <span><b>Gender:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.gender.capitalize %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Join Date:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.join_date&.to_date&.strftime('%d-%m-%Y') %></span>
            </div>
          </div>
          <br>
          <!-- <div class="row">  
            <div class="col s12 m3">
              <span><b>Degree</b></span>
            </div>
            <div class="col s12 m3">
              <span><%#= @user.degree&.name %></span>
            </div>
          </div>
          <br> -->
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Status:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.job_status %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Type:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.user_type %></span>
            </div>
          </div>
          <br>
          <!-- <div class="row">  
            <div class="col s12 m3">
              <span><b>Mentor</b></span>
            </div>
            <div class="col s12 m3">
              <span><%#= @user.user_mentor&.full_name %></span>
            </div>
          </div>
          <br> -->
          <!-- <div class="row">  
            <div class="col s12 m3">
              <span><b>Department:</b></span>
            </div>
            <div class="col s12 m3">
              <span><%#= @user.department&.name %></span>
            </div>
          </div>
          <br> -->
          <div class="row">  
            <div class="col s12 m3">
              <span><b>TPS Experience</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.join_date.present? ? Date.today == @user.join_date ? "O day" : distance_of_time_in_words(Date.today, @user.join_date.to_date)&.titlecase  : "-" %></span>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col s12 m3">
              <span><b>Past Experience</b></span>
            </div>
            <div class="col s12 m3">
              <span><%= @user.experience.present? ? @user.format_experience : "-" %></span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

  <% if true  %>
    <div class="col s12 card-content-link">
      <div class="card card-tabs">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m6 l10">
                  <div class="card-title">
                <div class="row">
              <div class="col s12 m6 l10">
              <h5>Education Details</h5>
            </div>
          </div>
            </div>
          </div>
            <% if current_user.admin? %>
              <div class="col s12 m6 l2">
                <ul class="profile-ui">
                  <li><%= link_to("#add_education_detail_modal", class: "modal-trigger") do %><i class="material-icons">control_point</i><% end %></li>
                </ul>
              </div>
            <% end %>
          </div>
    
          
        <% @educations.order(from: :desc).each do |education| %>
          <div class="row">  
            <div class="col s12 m6 l10">
              <span><b><%= "#{education.degree&.name} | #{education.college}"  %></b></span>
              <br/>

              <% if education.is_current == true %>
                <span><%= "#{education&.from.try(:strftime, "%b %Y")} - Current" %></span><br/>
              <% else %>
                <span><%= "#{education&.from.try(:strftime, "%b %Y")} - #{education&.to.try(:strftime, "%b %Y")}" %></span><br/>
              <% end %>
              <span><b><%= "Studied #{education.degree&.name} from the #{education.university}."  %></b></span><br/>
            </div>
            <div class="col s12 m6 l2">
              <% if current_user.admin? %>
                <%= link_to edit_education_detail_modal_users_path(id: @user.id, education_id: education.id), :remote => true do %>
                  <i class="material-icons">edit</i>
                <% end %>

                <%= link_to delete_education_users_path(id: @user.id, education_id: education.id),  method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="material-icons">delete</i>
                <% end %>
              <% end %>
            </div>
          </div>
          <br>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  
  
  <div class="col s12 card-content-link">
    <div class="card card-tabs">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m6 l10">
            <div class="card-title">
              <div class="row">
            <div class="col s12 m6 l10">
            <h5>Designation & Promotion</h5>
          </div>
        </div>
      </div>
          </div>
          <% if current_user.admin? %>
            <div class="col s12 m6 l2">
              <ul class="profile-ui">
                <li><%= link_to("#add_user_designation_modal", class: "modal-trigger") do %><i class="material-icons">control_point</i><% end %></li>
              </ul>
            </div>
          <% end %>
        </div>
       
        
      <% @user_designations.order(id: :desc).each do |user_des| %>
        <div class="row">
          <div class="col s12 m6 l10">
            <span><b><%= "#{user_des&.designation&.name} of #{user_des&.department&.name} Department."  %></b></span>
            <% if current_user.id == @user.id || current_user.admin? %>
              <%= link_to "Download Certificate", generate_designation_pdf_user_path(id: user_des.user_id, designation_id: user_des.id, format: :pdf), target: "_blank" %>
            <% end %>
            <br/>
            <span>Mentor is <b><%= "#{User.find_by_id(user_des&.mentor)&.full_name}"  %></b></span>
            <br/>
            <% if user_des.is_current %>
              <span><%= "#{user_des&.start_date.try(:strftime, "%d %b %Y")} - Current" %></span>
              <% date_diff = user_des&.start_date.present? ? TimeDifference.between(user_des&.start_date, Date.today).in_general : "" %>
              <% if date_diff.present? %>
                <span class="date-diff-border"><%= date_diff.present? ? date_diff[:years] == 1 ? "#{date_diff[:years]} Year" : date_diff[:years] > 1 ? "#{date_diff[:years]} Years" : "0 Year" : "" %> <%= date_diff.present? ? date_diff[:months] == 1 ? "#{date_diff[:months]} Month" : date_diff[:months] > 1 ? "#{date_diff[:months]} Months" : "0 Month" : "" %></span>
              <% end %>
            <% else %>
              <span><%= "#{user_des&.start_date.try(:strftime, "%d %b %Y")} - #{user_des&.end_date.try(:strftime, "%d %b %Y")}" %></span>
              <% date_diff = user_des&.start_date.present? && user_des&.end_date.present? ? TimeDifference.between(user_des&.start_date, user_des&.end_date).in_general : "" %>
              <% if date_diff.present? %>
                <span  class="date-diff-border"><%= date_diff.present? ? date_diff[:years] == 1 ? "#{date_diff[:years]} Year" : date_diff[:years] > 1 ? "#{date_diff[:years]} Years" : "0 Year" : "" %>
                <%= date_diff.present? ? date_diff[:months] == 1 ? "#{date_diff[:months]} Month" : date_diff[:months] > 1 ? "#{date_diff[:months]} Months" : "0 Month" : "" %></span>
              <% end %>
            <% end %>
          </div>
          <div class="col s12 m6 l2">
            <% if current_user.admin? %>
              <%= link_to edit_user_designation_modal_users_path(id: @user.id, user_designation_id: user_des.id), :remote => true do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to delete_designation_users_path(id: @user.id, user_des_id: user_des.id),  method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="material-icons">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
        <br/>
      <% end %>
      </div>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="col s12 card-content-link">
      <div class="card card-tabs">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m6 l10">
              <h5>Upload Document</h5>
            </div>
            <% if current_user.admin? %>
              <div class="col s12 m6 l2">
                <ul class="profile-ui">
                  <li><%= link_to("#add_user_document_modal", class: "modal-trigger") do %><i class="material-icons">control_point</i><% end %></li>
                </ul>
              </div>
            <% end %>
          </div>
        
          <% @user.documents.order(id: :desc).each do |doc| %>
          <div class="row">
            <div class="col s12 m6 l10">
              <%= link_to doc.doc_name, rails_blob_path(doc.document, only_path: true),  target:"_blank"  %> <br />
            </div>

            <div class="col s12 m6 l2">
              <% if current_user.admin? %>
                <%= link_to document_path(id: doc.id, user_id: @user.id),  method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="material-icons">delete</i>
                <% end %>
              <% end %>
            </div>
          </div>
      
        <% end %>
        </div>
      </div>
    </div>
  <% end %>

    <% if current_user.admin? %>
      <div class="col s12 card-content-link">
        <div class="card card-tabs">
          <div class="card-content">
            <h5>KYC Details</h5>
           
            <div class="row">  
              <div class="col s12 m3">
                <span><b>Adhar Number:</b></span>
              </div>
              <div class="col s12 m3">
                <span><%= @user.adhar_no %></span>
              </div>
            </div>
            <br>
            <div class="row">  
              <div class="col s12 m3">
                <span><b>Pan Number:</b></span>
              </div>
              <div class="col s12 m3">
                <span><%= @user.pan_no %></span>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <% if @user.job_status == "Inactive" %>
        <div class="col s12 card-content-link">
          <div class="card card-tabs">
            <div class="card-content">
              <h5>Resignation</h5>
             
              <div class="row">  
                <div class="col s12 m3">
                  <span><b>Resigned On:</b></span>
                </div>
                <div class="col s12 m3">
                  <span><%= @user&.resign_date&.to_date&.strftime('%d-%m-%Y') %></span>
                </div>
              </div>
              <br>
              <div class="row">  
                <div class="col s12 m3">
                  <span><b>Reason:</b></span>
                </div>
                <div class="col s12 m3">
                  <span><%= @user.resign_reason %></span>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="col s12">
      <div class="mobile-center">
        <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary mb-2' if current_user.admin? %>
        <%= link_to 'Delete', user_path(@user), class: 'btn waves-effect waves-light red accent-2 mb-2',  method: :delete, data: {confirm: "Are you sure?"} if current_user.admin?%>
        <%= link_to 'Back', users_path, class: 'btn cyan waves-effect waves-light mb-2' %>
        <% if current_user.admin? %>
          <%= link_to("#resign_popup_modal", class: "btn waves-effect waves-light deep-orange accent-2 mb-2 modal-trigger") do %>Resign<% end %>
        <% end %>
      </div>
    
    </div>

  <div id="image_cropping" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Crop Profile image</h4>
      <div>
        <div class="" style="width: 100%; height: 400px;">
          <img id="prof_pic_img" class="">
        </div>
      </div>
    </div>
    <div class="modal-footer profile-footer">
      <a href="#!" class="modal-close btn btn-lg" id="close_modal">Close</a>
      <button class="rotate btn btn-lg default ">Rotate</button>
      <button class="cropbutton btn btn-lg default confirm_btn">Confirm</button>
    </div>
  </div>

<div id="edit_contact_detail_modal" class="modal">
  <div class="modal-content">
    <h4>Contact Detail</h4>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class="red_font_clr"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for @user, :url => url_for(:controller => 'users', :action => params['id'].present?  ? 'update' : 'create_user') do |f| %>
      <div class="col s12">
        <div id="input-fields" class="card card-tabs">
          <div class="card-content">
            <div class="card-title">
              <div class="row">
                <div class="input-field col s12">
                  <%= f.email_field :email,  id: "personal_email", required: true %><br />
                  <label for="personal_email">Personal Email</label>
                </div>

                <div class="input-field col s12">
                  <%= f.text_field :emergency_contact,id: "emergency_contact", required: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', maxlength: "10", minlength: "8" %><br />
                  <label for="emergency_contact">Emergency Contact</label>
                </div>

                <div class="input-field col s12">
                  <%= f.text_field :contact,id: "contact", required: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', maxlength: "10", minlength: "8"   %><br />
                  <label for="contact">Contact</label>
                </div>

                <div class="input-field col s12">
                  <%= f.text_field :address,id: "address", required: true  %><br />
                  <label for="address">Address</label>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s12 mobile-center">
        <%= f.submit 'Submit' ,class: "btn btn-success mb-2" %>
        <a href="#!" class="modal-close btn cyan waves-effect waves-light mb-2">Cancel</a>
      </div>
    <% end %>
  </div>
</div>

<div id="add_education_detail_modal" class="modal">
  <div class="modal-content">
    <h4>Education Detail</h4>
    <%= form_for :education, :url => url_for(:controller => 'users', :action => 'create_education_detail') do |f| %>
      <div class="col s12">
        <div id="input-fields" class="card card-tabs">
          <div class="card-content">
            <div class="card-title">
              <div class="row">
                <div class="input-field col s12">
                   <%= f.select(:degree_id, Degree.all.order('name').collect{|p| [p.name, p.id]}, {:include_blank => "Select"}, {:class => "some_class", :required => true} ) %>
                  <label for="degree">Degree</label>
                </div>

                <div class="input-field col s12">
                  <%= f.text_field :college,  id: "college_name", required: true %><br />
                  <label for="college_name">College</label>
                </div>

                <div class="input-field col s12">
                  <%= f.text_field :university,  id: "university_name", required: true %><br />
                  <label for="university_name">University</label>
                </div>

                <%= f.hidden_field :user_id, :value => @user.id %>
                <div class="input-field col m6 s12">
                  <%= f.text_field :from, class: 'datepicker from_education_date',id:"start_education_date", required: true %><br />
                  <label for="from">From</label>
                </div>

                <div class="input-field col m6 s12">
                  <%= f.text_field :to, class: 'datepicker to_education_date',id:"end_education_date" %><br />
                  <label for="to">To</label>
                </div>

                <div class="input-field col m6 s12">
                  <%#= f.check_box :is_current, id:"is_current_checkbox" %>
                  <%= f.check_box :is_current, {:id => "is_current_checkbox", :style => "opacity: initial;pointer-events: auto;"}, "", "" %>
                  <label for="to">Current</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s12 mobile-center">
        <%= f.submit 'Submit' ,class: "btn btn-success mb-2" %>
        <a href="#!" class="modal-close btn cyan waves-effect waves-light mb-2">Cancel</a>
      </div>
    <% end %>
  </div>
</div>

<div id="add_user_designation_modal" class="modal">
  <div class="modal-content">
    <h4>Designation Detail</h4>
    <%= form_for :user_designation, :url => url_for(:controller => 'users', :action => 'create_user_designation') do |f| %>
      <div class="col s12">
        <div id="input-fields" class="card card-tabs">
          <div class="card-content">
            <div class="card-title">
              <div class="row">
                <div class="input-field col m6 s12">
                  <%= f.select(:designation_id, Designation.all.order('name').collect{|p| [p.name, p.id]}, {:include_blank => "Select"}, {:class => "some_class", required: true } ) %>
                  <label for="designation">Designation</label>
                </div>

                <div class="input-field col m6 s12 custom-dropdown">
                  <%= f.select(:department_id, Department.all.order('name').collect{|p| [p.name, p.id]}, {:include_blank => "Select"}, {:class => "some_class", required: true } ) %>
                  <label>Department</label>
                </div>

                <div class="input-field col m6 s12">
                  <%= f.select(:mentor, User.all.where(job_status: 'Active').order('first_name').collect{|p| [p.full_name, p.id]}, {:include_blank => "Select"}, {:class => "some_class", required: true } ) %>
                  <label>Mentor</label>
                </div>

                <%= f.hidden_field :user_id, :value => @user.id %>
                <div class="input-field col m6 s12">
                  <%#= f.text_field :from, class: 'datepicker from_education_date',id:"start_education_date" %>
                  <%= f.text_field :start_date, class: 'datepicker leave_date',id:"start_date", required: true %><br /><br />
                  <label for="from">Start Date</label>
                </div>

                <div class="input-field col m6 s12">
                  <%#= f.text_field :to, class: 'datepicker to_education_date',id:"end_education_date" %>
                  <%= f.text_field :end_date, class: 'datepicker leave_end_date',id:"end_date" %><br />
                  <label for="to">End Date</label>
                </div>

                <div class="input-field col m6 s12">
                  <%= f.check_box :is_current, {:id => "is_current", :style => "opacity: initial;pointer-events: auto;"}, "", "" %>
                  <label for="to">Current</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s12 mobile-center">
        <%= f.submit 'Submit' ,class: "btn btn-success mb-2" %>
        <a href="#!" class="modal-close btn cyan waves-effect waves-light mb-2">Cancel</a>
      </div>
    <% end %>
  </div>
</div>

<div id="add_user_document_modal" class="modal">
  <div class="modal-content">
    <h4>Upload Document</h4>
    <%= form_for :document, :url => url_for(:controller => 'documents', :action => 'create') do |f| %>
      <div class="col s12">
        <div id="input-fields" class="card card-tabs">
          <div class="card-content">
            <div class="card-title">
              <div class="row">
                <%= f.hidden_field :user_id, :value => @user.id %>
                <div class="input-field col s12">
                  <%= f.text_field :name,  id: "document_name", required: true %><br />
                  <label for="document_name">Name</label>
                </div>

                <div class="input-field col s12">
                  <%= f.file_field :document,  id: "attach_document", required: true, accept: ".doc, .docx, .pdf, .jpg, .png, .jpeg, .xlsx, .odt" %><br />
                  <!-- <label for="attach_document">Attach Document</label> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s12 mobile-center">
        <%= f.submit 'Submit' ,class: "btn btn-success mb-2" %>
        <a href="#!" class="modal-close btn cyan waves-effect waves-light mb-2">Cancel</a>
      </div>
    <% end %>
  </div>
</div>

<div id="education_modal"></div>
<div id="user_designation_modal"></div>
<div id="user_resign_modal"></div>

<div id="resign_popup_modal" class="modal">
  <div class="modal-content">
    <div class="text_center">Are you sure you want to mark this team members as Resign?</div>
  </div>
  <div class="modal-footer text_center">
    <%= link_to edit_resign_model_users_path(id: @user.id),class: "btn btn-success mb-2", :remote => true do %>
      Sure!
    <% end %>
    <a href="#!" class="modal-close btn cyan waves-effect waves-light mb-2">Cancel</a>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>

<script type="text/javascript">
  $(document).on('click','.cropbutton',function(){
    var canvas = $("#prof_pic_img").cropper('getCroppedCanvas');
    var dataURL = canvas.toDataURL("image/jpeg");
    // $('#divLoading').show();
    var closeModal = document.getElementById("close_modal");
    closeModal.click();
      $.ajax({
        url: '/users/<%= @user.id %>/change_profile',
        type: 'PATCH',
        dataType: 'script',
        data: {profile_picture: dataURL},
      })
      .done(function() {
         $('#crop_image').attr('src', dataURL);
         $("#user_pic_span").text("Change photo");
         $("#remove_profile").show();
         // $('#divLoading').hide();
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      $('#image_cropping').cropper("destroy");
      });
  });

   $(document).ready(function(){
    $('#edit_contact_detail_modal').modal();
    $('#add_education_detail_modal').modal();
    $('#add_user_designation_modal').modal();
    $('#add_user_document_modal').modal();
    $('#resign_popup_modal').modal();

    $('#is_current_checkbox').change(function() {
      cb = $(this);
      if(this.checked) {
        $( "#end_education_date" ).prop('disabled', true);
        cb.val(cb.prop('checked'));
      }
      else{
        $( "#end_education_date" ).prop('disabled', false);
        cb.val(false);
      }
    });

    $('#is_current').change(function() {
      cb = $(this);
      if(this.checked) {
        $( "#end_date" ).prop('disabled', true);
        cb.val(cb.prop('checked'));
      }
      else{
        $( "#end_date" ).prop('disabled', false);
        cb.val(false);
      }
    });
  });
</script>
