 <div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h4 class="card-title">Designations</h4>
                <p>Effective from 1st April 2019</p>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th data-field="id">Id</th>
                      <th data-field="id">Name</th>
                      <th data-field="name">Designation</th>
                      <th data-field="price">Mentor Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @departments.each do |dept| %>
                      <tr><td colspan="4"><h5><b><%= dept.name.humanize %></b></h5></td></tr>
                      <% dept.users.each_with_index do |user,i| %>
                        <tr>
                          <td><%= i+1 %></td>
                          <td><%= user.full_name.to_s+' - '+user.comp_email.to_s %></td>
                          <td><%= user.designation.name.humanize %></td>
                          <td><%= user.try(:user_mentor).try(:full_name) %></td>
                        </tr>
                      <% end %>
                    <% end %>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  tr{
    border: none !important;
  }
</style>
