<h3 class="center">welcome <%= current_user.full_name %></h3>
<% if current_user.admin? %>
  <% if current_user.leave_added_on.present? %>
    <% if current_user.leave_added_on.month != Date.today.month  %>
      <div class="row">
        <%= link_to "Add this month Leave", add_leave_path, class: 'btn btn-success float-left ml-2 add_leave' %>
      </div>
    <% end %>
  <% elsif current_user.leave_added_on.blank? %>
    <div class="row">
      <%= link_to "Add this month Leave", add_leave_path, class: 'btn btn-success float-left ml-2 add_leave' %>
    </div>
  <% end %>
<% end %>

 

<div class="col-12">
  <div class="col-3">
    <% if  User.upcoming_birthday.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <h5>Upcoming Birthdays</h5> 
               <% User.today_birthday.each do |user| %>
                Today - <%= user.full_name %>
              <% end %><br>
              <% User.upcoming_birthday.each do |user| %>
                <b> <%= user.birthday&.strftime('%d %b') %></b> - <%= user.full_name %><br>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col-3">
    <% if  User.upcoming_anniversary.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <h5>Upcoming Anniversary</h5> 
              <% User.upcoming_anniversary.each do |user| %>
                 <b> <%=   user.anniversary_date == Date.today ? 'Today' : user.anniversary_date&.strftime('%d %B') %></b> - <%= user.full_name %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

 <div class="col-6">
    <% if  User.upcoming_work_anniversary.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <h5>Upcoming Work Anniversary</h5> 
              <% User.upcoming_work_anniversary.each do |user| %>
                <b> <%= user.join_date&.strftime('%d %b') %></b> - <%= user.full_name %> <br>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>
<div class="col-12">
   <div class="col-6">
    <% if  @leaves.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <h5>Upcoming Leaves</h5> 
              <% @leaves.each do |leave| %>
                 <b> <%= leave.leave_date == Date.today ? 'Today' : leave.leave_date.strftime('%d-%b-%y') %> -  <%= leave.leave_type.humanize  %></b> - <%= leave.user.full_name %> <br>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  
  <div class="col-6">
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <h5>Leave Balance</h5>
          <table class="table table-borderless">
          <%  if current_user.admin? %>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.full_name+ ':' %></td>
                <td><%= user.leave_bal.present? ? user.leave_bal > 0 ? user.leave_bal : 0 : '0'%></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td>Current Leave Balance: </td> <td><%= current_user.leave_bal.present? ? current_user.leave_bal > 0 ? current_user.leave_bal : 0 : '0'%></td></tr>
          <% end %>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


  
