<h3 class="center">Welcome <%= current_user.full_name %></h3>
<% if current_user.admin? %>
  <% if current_user.leave_added_on.present? %>
    <% if current_user.leave_added_on.month != Date.today.month  %>
      <div class="row">
        <%= link_to "Add this month Leave", add_leave_path, class: 'btn btn-success float-left ml-2 add_leave' %>
      </div>
    <% end %>
  <% elsif current_user.leave_added_on.blank? %>
    <div class="row">
      <%= link_to "Add this month Leave", add_leave_path, class: 'btn btn-success float-left ml-2 add_leave' %>
    </div>
  <% end %>
<% end %>

 

<div class="col-12">
  <div class="col-3">
    <% if  User.upcoming_birthday.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <table class="table table-borderless">
              <span class="font-22">Upcoming Birthdays</span> 
              <% User.upcoming_birthday.each do |user| %>
                <tr>
                  <td><span class="red-text text-darken-2"><%= user.birthday == Date.today ? 'Today' : user.birthday&.strftime('%d %b') %></span></td>
                  <td><%= user.full_name %></td>
                </tr>
              <% end %>
            </table>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col-3">
    <% if  User.upcoming_anniversary.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <table class="table table-borderless">
                <span class="font-22">Upcoming Anniversary</span> 
                <% User.upcoming_anniversary.each do |user| %>
                  <tr>
                    <td><span class="red-text text-darken-2"><%= user.anniversary_date == Date.today ? 'Today' : user.anniversary_date&.strftime('%d %B') %></span></td>
                    <td><%= user.full_name %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
    <% end %>
  </div>

 <div class="col-6">
    <% if  User.upcoming_work_anniversary.present? %>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <table class="table table-borderless">
                <span class="font-22">Upcoming Work Anniversary</span> 
                <% User.upcoming_work_anniversary.each do |user| %>
                  <tr>
                    <td><span class="red-text text-darken-2"><%= user.join_date&.strftime('%d %b') %></span></td>
                    <td><%= user.full_name.titleize %></td> 
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>
  <% if current_user.admin? %>
    <div class="col-12">
       <div class="col-6">
        <% if  @leaves.present? %>
            <div class="col s4">
              <div class="card">
                <div class="card-content">
                  <table class="table table-borderless">
                    <span class="font-22">Upcoming Leaves</span> 
                    <% @leaves.each do |leave| %>
                      <tr>
                        <td><span class="red-text text-darken-2"><%= leave.leave_date == Date.today ? 'Today' : leave.shorten_leave %></span></td>  <td>  <span class="black-text text-darken-2"><%= leave.leave_type.titleize  %></span> </td> <td> <%= leave.user.first_name.humanize %> </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>

<% if current_user.team_leader? %>
  <div class="col-12">
     <div class="col-6">
      <% if  @leaves.present? %>
          <div class="col s4">
            <div class="card">
              <div class="card-content">
                <span class="font-22">Upcoming Leaves</span> 
                <table class="table table-borderless">
                  <% @employees_leaves.each do |leave| %>
                    <tr>
                      <td><span class="red-text text-darken-2"><%= leave.leave_date == Date.today ? 'Today' : leave.shorten_leave %></span> </td>
                      <td><span class="black-text text-darken-2"><%= leave.leave_type.humanize  %></span></td>
                      <td><%= leave.user.first_name.humanize %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
  
  <div class="col-6">
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <span class="font-22">Leave Balance</span>
          <table class="table table-borderless">
          <%  if current_user.admin? %>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.full_name.titleize + ':' %></td>
                <td><%= user.leave_bal.present? ? user.leave_bal > 0 ? user.leave_bal : 0 : '0'%></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td>Current Leave Balance: </td> <td><%= current_user.leave_bal.present? ? current_user.leave_bal > 0 ? current_user.leave_bal : 0 : '0'%></td></tr>
          <% end %>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


  
