<h3 class="center">Welcome <%= current_user.full_name %></h3>
<% if current_user.admin? %>
  <div class="row">
  <!-- <%# if current_user.leave_added_on.present? %>
    <%# if current_user.leave_added_on.month != Date.today.month  %>
      <div class="col s4">
        <%#= link_to "Add this month Leave", add_leave_path, class: 'btn btn-success float-left mr-2 add_leave' %>
      </div>
    <%# end %>
  <%# elsif current_user.leave_added_on.blank? %>
    <div class="col s4">
      <%#= link_to "Add this month Leave", add_leave_path, class: 'btn btn-success float-left add_leave' %>
    </div>
  <%# end %> -->

  <% if current_user&.leave_report_added_on.present? %>
    <% if current_user&.leave_report_added_on&.month != Date.today&.month  %>
      <div class="col s4">
        <%= link_to "Create Leave Report", create_leave_report_path, class: 'btn btn-success float-left add_leave' %>
      </div>
    <% end %>
  <% elsif current_user&.leave_report_added_on.blank? %>
    <div class="col s4">
      <%= link_to "Create Leave Report", create_leave_report_path, class: 'btn btn-success float-left add_leave' %>
    </div>
  <% end %>
  </div>
<% end %>

<% if current_user.admin? %> 
  <div class="row">
    <div class="col l3 s12">
        <div class="card">
          <div class="card-content">
            <span class="font-22">Leave Balance</span><span class="span-wrap">(Upto end of current month)</span>
            <table class="table table-borderless">
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.full_name.titleize + ':' %></td>
                  <td><%= user.leave_bal.present? ? user.leave_bal >= 0 ? user.leave_bal : "0 (#{user.leave_bal})"  : '0'%></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
  </div>
  <div class="col l9 s12">
      <div class="row">
        <div class="col l6 s12">
           <div class="card">
          <div class="card-content">
            <table class="table table-borderless">
            <span class="font-22">Upcoming Birthdays</span><span class="span-wrap">(Within month)</span>
              <% if  User.where(job_status: 'Active').upcoming_birthday.present? %>
                <% User.where(job_status: 'Active').upcoming_birthday.each do |user| %>
                  <tr>
                    <td><span class="red-text text-darken-2"><%= user.birthday == Date.today ? 'Today' : user.birthday&.strftime('%d %b') %></span></td>
                    <td><%= user.full_name %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td>No record found</td>
                </tr>
              <%end %>
          </table>
          </div>
        </div>
      </div>
       <div class="col l6 s12">
          <div class="card">
          <div class="card-content">
            <table class="table table-borderless">
              <span class="font-22">Upcoming Anniversary</span><span class="span-wrap">(Within month)</span>
                <% if  User.where(job_status: 'Active').upcoming_anniversary.present? %>
                  <% User.where(job_status: 'Active').upcoming_anniversary.each do |user| %>
                    <tr>
                      <td><span class="red-text text-darken-2"><%= user.anniversary_date == Date.today ? 'Today' : user.anniversary_date&.strftime('%d %B') %></span></td>
                      <td><%= user.full_name %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>No record found</td>
                  </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="col l6 s12">
        <div class="card">
          <div class="card-content">
            <table class="table table-borderless">
              <span class="font-22">Upcoming Work Anniversary</span><span class="span-wrap">(Within month)</span>
                <% if  User.where(job_status: 'Active').upcoming_work_anniversary.present? %>
                  <% User.where(job_status: 'Active').upcoming_work_anniversary.each do |user| %>
                    <tr>
                      <td><span class="red-text text-darken-2"><%= user.join_date&.strftime('%d %b') %></span></td>
                      <td><%= user.full_name.titleize %></td> 
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>No record found</td>
                  </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>
        <div class="col l6 s12">
          <% if current_user.admin? %>
           <div class="card">
              <div class="card-content">
                <table class="table table-borderless">
                  <span class="font-22">Upcoming Leaves</span> 
                    <% if  @leaves.present? %>
                      <% @leaves.each do |leave| %>
                        <tr>
                          <td><span class="red-text text-darken-2"><%= leave.leave_date == Date.today ? 'Today' : leave.shorten_leave %></span></td>  <td>  <span class="black-text text-darken-2"><%= leave.leave_type.titleize  %></span> </td> <td> <%= leave.user.first_name.humanize %> </td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td>No record found</td>
                      </tr>
                    <% end %>
                </table>
              </div>
            </div>
          <% end %>
            
        </div>
  </div>
<% else %>

  <div class="row d-flex">
    <div class="col l6 s12 d-flex">
        <div class="card w-100">
          <div class="card-content">
            <span class="font-22">Leave Balance</span><span class="span-wrap">(Upto end of current month)</span>
            <table class="table table-borderless">
              <tr><td>Current Leave Balance: </td> <td><%= current_user.leave_bal.present? ? current_user.leave_bal > 0 ? current_user.leave_bal : 0 : '0'%></td></tr>
            </table>

          </div>
        </div>
    </div>
    <div class="col l6 s12 d-flex">
      <div class="card w-100">
        <div class="card-content">
          <table class="table table-borderless">
            <span class="font-22">Upcoming Birthdays</span><span class="span-wrap">(Within month)</span>
              <% if  User.where(job_status: 'Active').upcoming_birthday.present? %>
                <% User.where(job_status: 'Active').upcoming_birthday.each do |user| %>
                  <tr>
                    <td><span class="red-text text-darken-2"><%= user.birthday == Date.today ? 'Today' : user.birthday&.strftime('%d %b') %></span></td>
                    <td><%= user.full_name %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td>No record found</td>
                </tr>
              <%end %>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="row d-flex">
     <div class="col l6 s12 d-flex">
          <div class="card w-100">
          <div class="card-content">
            <table class="table table-borderless">
              <span class="font-22">Upcoming Anniversary</span><span class="span-wrap">(Within month)</span>
                <% if  User.where(job_status: 'Active').upcoming_anniversary.present? %>
                  <% User.where(job_status: 'Active').upcoming_anniversary.each do |user| %>
                    <tr>
                      <td><span class="red-text text-darken-2"><%= user.anniversary_date == Date.today ? 'Today' : user.anniversary_date&.strftime('%d %B') %></span></td>
                      <td><%= user.full_name %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>No record found</td>
                  </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div> 
      <div class="col l6 s12">
          <div class="card">
          <div class="card-content">
            <table class="table table-borderless">
              <span class="font-22">Upcoming Work Anniversary</span><span class="span-wrap">(Within month)</span>
                <% if  User.where(job_status: 'Active').upcoming_work_anniversary.present? %>
                  <% User.where(job_status: 'Active').upcoming_work_anniversary.each do |user| %>
                    <tr>
                      <td><span class="red-text text-darken-2"><%= user.join_date&.strftime('%d %b') %></span></td>
                      <td><%= user.full_name.titleize %></td> 
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>No record found</td>
                  </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div> 
  </div>
  <div class="row d-flex">
  <div class="col l6 s12">
   <% if current_user.team_leader? %>
              <div class="card">
                <div class="card-content">
                  <span class="font-22">Upcoming Leaves</span> 
                  <table class="table table-borderless">
                    <% if  @leaves.present? %>
                      <% @employees_leaves.each do |leave| %>
                        <tr>
                          <td><span class="red-text text-darken-2"><%= leave.leave_date == Date.today ? 'Today' : leave.shorten_leave %></span> </td>
                          <td><span class="black-text text-darken-2"><%= leave.leave_type.humanize  %></span></td>
                          <td><%= leave.user.first_name.humanize %></td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td>No record found</td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
        </div>
<% end %> 
</div>

</div>

<!-- <div class="row">
<%#= render template: "leaves/_calender" %>
</div>

<p>Red Color: Leave without informed</p>
<p>Blue Color: Full day leave</p>
<p>Black Color: Half day leave</p>
<p>Green Color: Work from home</p>
 -->