<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Bills", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12">
                <div class="card-title d-flex">
                <span class="font-26 flex-grow-1">Bills</span>
                <% if (can? :manage, Vendor) || (can? :index, Vendor) %>
                  <span style="margin-right: 5px;"><%= link_to 'Vendors', vendors_path, class: "btn btn-success waves-effect waves-lightc", target: "_blank" %></span>
                <% end %>
                <% if (can? :manage, Bill) || (can? :create, Bill) %>
                  <span><%= link_to 'ADD', new_bill_path, class: "btn cyan waves-effect waves-lightc " %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12 table-responsive">
                <table id="bill_table">
                  <thead>
                    <tr>
                      <th>Number</th>
                      <th>Date</th>
                      <th>For (Assets list)</th>
                      <th>Amount</th>
                      <th>Paid Amount</th>
                      <th>Purchase From</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |bill| %>
                      <tr>
                        <td><%= bill.number %></td>
                        <td><%= bill.bill_date&.strftime("%b %d, %Y") %></td>
                        <td><%= bill.assets.map(&:name).join(', ') %></td>
                        <td><%= bill.amount %></td>
                        <td><%= bill.paid_amount %></td>
                        <td><%= bill&.vendor&.name %></td>
                        <td><%= bill.status %></td>
                        <td><%= link_to 'Show', bill_path(bill.id) if (can? :manage, Bill) || (can? :show, Bill) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  
  $('#bill_table').DataTable({
    "dom": 'lf<<"datatable-responsive"t>ip>',
    responsive: true,
    "pageLength": 100,
    "columnDefs": [
      { "width": "15%", "targets": 1 }
    ]
  });

</script>