<div id="calendar"></div>

<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Leave<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <li><%= link_to 'Add Leave', new_leafe_path, class: "btn cyan waves-effect waves-lightc " %></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table>
                  <thead>
                    <tr>
                      <th data-field="id">Leave</th>
                      <th>Employee</th>
                      <th>Date</th>
                      <th>Approved By</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |leave| %>
                      <tr>
                        <td><%= leave.leave_type %></td>
                        <td><%= leave.user.first_name %></td>
                        <td><%= leave.leave_date.strftime('%d-%m-%Y') %></td>
                        <td><%= leave.approved_by.first_name %></td>


                        <td><%= link_to 'Edit', edit_leafe_path(leave.id) %></td>
                        <td><%= link_to 'Delete', leafe_path(leave.id), method: :delete %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
          defaultDate: '2019-08-12',
          editable: true,
          eventLimit: true,
          events: '/leaves/get_events'
        });
    });
</script>

