
<% if current_user.admin? %>
  <div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Leaves<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <li><%= link_to 'Add Leave', new_leafe_path, class: "btn cyan waves-effect waves-lightc " %></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table class='leave_table'>
                  <thead>
                    <tr>
                      <th>Employee</th>
                      <th>Leave</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Leave count</th>
                      <th>Status</th>
                      <th>Approved By</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |leave| %>
                      <tr>
                        <td><%= leave.user&.first_name %></td>
                        <td><%= leave.leave_type %></td>
                        <td><%= leave.leave_date&.strftime('%d-%m-%Y') %></td>
                        <td><%= leave.end_date&.strftime('%d-%m-%Y') %></td>
                        <td><%= (leave.leave_array[0].count)*leave.leave_array[1] %></td>
                        <td><%= leave.status %></td>
                        <td><%= leave.approved_by&.first_name %></td>
                        <td><%= link_to 'Delete', leafe_path(leave.id), method: :delete, data: {confirm: "Are you sure?"} if leave.end_date > Date.today  %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'calender' %>

<p>Red Color: Leave without informed</p>
<p>Blue Color: Full day leave</p>
<p>Black Color: Half day leave</p>
<p>Green Color: Work from home</p>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  
$('.leave_table').DataTable({
        conditionalPaging: true,
        responsive: true
    });
</script>

