<div id="calendar"></div>

<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Leave<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <li><%= link_to 'Add Leave', new_leafe_path, class: "btn cyan waves-effect waves-lightc " %></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table>
                  <thead>
                    <tr>
                      <th data-field="id">Leave</th>
                      <th>Employee</th>
                      <th>Date</th>
                      <th>Approved By</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |leave| %>
                      <tr>
                        <td><%= leave.leave_type %></td>
                        <td><%= leave.user.first_name %></td>
                        <td><%= leave.leave_date.strftime('%d-%m-%Y') %></td>
                        <td><%= leave.approved_by.first_name %></td>


                        <td><%= link_to 'Edit', edit_leafe_path(leave.id) %></td>
                        <td><%= link_to 'Delet', leafe_path(leave.id), method: :delete %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- template calender -->

<!-- <div id="app-calendar">

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">
                        Basic Calendar
                    </h4>
                    <div id="basic-calendar"></div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">
                        External Dragging
                    </h4>
                    <div class="row">
                        <div class="col m3">
                            <div id='external-events'>
                                <h5>Draggable Events</h5>
                                <div class="fc-events-container">
                                    <div class='fc-event' data-color='#009688'>All Day Event</div>
                                    <div class='fc-event' data-color='#4CAF50'>Long Event</div>
                                    <div class='fc-event' data-color='#00bcd4'>Meeting</div>
                                    <div class='fc-event' data-color='#ff5722'>Birthday party</div>
                                    <div class='fc-event' data-color='#9c27b0'>Lunch</div>
                                    <div class='fc-event' data-color='#e51c23'>Conference Meeting</div>
                                    <div class='fc-event' data-color='#e91e63'>Party</div>
                                    <div class='fc-event' data-color='#3f51b5'>Happy Hour</div>
                                    <div class='fc-event' data-color='#ffc107'>Dance party</div>
                                    <div class='fc-event' data-color='#4a148c'>Dinner</div>
                                    <p>
                                        <label>
                                            <input type="checkbox" />
                                            <span>Remove After Drop</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col m9">
                            <div id='fc-external-drag'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> -->


<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            defaultDate: '2014-09-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
        });
    });
</script>
