<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Leave<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <li><%= link_to 'Add Leave', new_leafe_path, class: "btn cyan waves-effect waves-lightc " %></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12">
                <table>
                  <thead>
                    <tr>
                      <th data-field="id">Leave</th>
                      <th>Employee</th>
                      <th>Date</th>
                      <th>Approved By</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |leave| %>
                      <tr>
                        <td><%= leave.leave_type %></td>
                        <td><%= leave.user&.first_name %></td>
                        <td><%= leave.leave_date&.strftime('%d-%m-%Y') %></td>
                        <td><%= leave.approved_by&.first_name %></td>


                        <td><%= link_to 'Edit', edit_leafe_path(leave.id) %></td>
                        <td><%= link_to 'Delete', leafe_path(leave.id), method: :delete, data: {confirm: "Are you sure?"}  %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="app-calendar">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">
                        Basic Calendar
                    </h4>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Red Color: Leave without informed</p>
<p>Blue Color: Full day leave</p>
<p>Black Color: Half day leave</p>
<p>Green Color: Work from home</p>
<!-- 
<script src='https://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="https://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='https://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script> -->



<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
          defaultDate: '2019-08-12',
          editable: true,
          eventLimit: true,
          events: '/leaves/get_events'
        });
    });
</script>

