<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Leaves", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<% if current_user.admin? %>
  <div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12 m6 l10">
                <h3 class="card-title"><b>Leaves<b></h3>
              </div>
              <div class="col s12 m6 l2">
                <ul class="">
                  <li><%= link_to 'Add Leave', new_leafe_path, class: "btn cyan waves-effect waves-lightc " %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="select_width">
            <%= select_tag "leave_type", options_for_select([ "Future", "Past" ], "Future"), class: "form-control leave_type_seletbox" %>
          </div>
          <div id="view-borderless-table leave_data_wrap">
            <div class="row">
              <div class="col s12">
                <table id='leave_table'>
                  <thead>
                    <tr>
                      <th>Employee</th>
                      <th>Leave</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Leave count</th>
                      <th>Status</th>
                      <th>Approved By</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="leave_body">
                    <%= render partial: 'leave', locals: { resources: @resources } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render 'calender' %>

<p>Red Color: Leave without informed</p>
<p>Blue Color: Full day leave</p>
<p>Black Color: Half day leave</p>
<p>Green Color: Work from home</p>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script> -->

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  
$('#leave_table').DataTable({
  conditionalPaging: true,
  responsive: true
});
$('.leave_type_seletbox').on('change', function(){
  var leave_type = $(this).val();
  $.ajax({
    url: "/leaves/leave_filter",
    type: "GET",
    data: { leave_type: leave_type },
    dataType: "script"
  });
})
</script>

