<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Leave Report", leave_report_leaves_path , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col s12">
    <div id="borderless-table" class="card card-tabs">
      <div class="card-content">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m6 l10">
              <h3 class="card-title"><b>Leave Report</b></h3>
            </div>
          </div>
        
          <div class="row">
            <div class="col l3 m6 s12">
              <div class="month_warpper">
                <%= select_month(Date.today.month, field_name: 'month') %>
              </div>
            </div>
            <div class="col l3 m6 s12">
              <div class="year_warpper">
                <%= select_year(Date.today, :start_year => LeaveReport&.first&.start_month&.year.present? ? LeaveReport&.first&.start_month&.year : Date.today.year, :end_year => 3.years.from_now.year) %>
              </div>
            </div>
          </div>
          <div id="view-borderless-table1">
            <div class="row">
              <div class="col s12">
                <table id="leave_report_table" class="mdl-data-table" style="width:100%">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Leave Bal. (Prev. Month)</th>
                      <th>Free Leaves</th>
                      <th>Taken Leaves</th>
                      <th>New Balance</th>
                    </tr>
                  </thead>
                  <tbody class="leave_report_body">
                    <%= render partial: 'leave_report', locals: { leave_reports: @leave_reports } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$('#leave_report_table').DataTable({
    columnDefs: [
            { width: '22%', targets: 0 },
            { width: '15%', targets: [1,2] },
            { width: '12%', targets: [3,4,5,6] }
        ],
    "dom": 'lf<<"datatable-responsive"t>ip>',
    responsive: true
});

$('.month_warpper').find('#date_month').on('change', function(){
  var month = $(this).val();
  var year = $(".year_warpper").find('#date_year').val();
  $.ajax({
    url: "/leaves/leave_report_filter",
    type: "GET",
    data: { month: month, year: year },
    dataType: "script"
  });
})

$('.year_warpper').find('#date_year').on('change', function(){
  var year = $(this).val();
  var month = $(".month_warpper").find('#date_month').val();
  $.ajax({
    url: "/leaves/leave_report_filter",
    type: "GET",
    data: { month: month, year: year },
    dataType: "script"
  });
})
</script>