<div class="row">
  <div class="col s12">
    <div id="input-fields" class="card card-tabs">
      <div class="card-content">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m6 l10">
              <h4 class="card-title">Add Suggestions</h4>
            </div>
          </div>
        </div>
        <div id="view-input-fields">
          <div class="row">
            <div class="col s12">
              <%= form_tag('/contacts', method: :post, multipart: true) do %>
                <div class="row">
                  <div class="input-field col s12">
                    <%= text_field_tag :title, nil, :required => true %><br />
                    <label for="title">Title</label>
                  </div>
                  <div class="input-field col s12">
                    <%= text_field_tag :comment, nil, :required => true%><br />
                    <label for="comment">Comment</label>
                  </div>
                  <div class="input-field col s12">
                    <!-- <label for="comment">Attachment</label> -->
                    <%= file_field_tag :file %><br />
                  </div>
                  <div class="input-field col s12">
                    <%= submit_tag 'Submit', class: "btn cyan waves-effect waves-light" %>
                  </div>
                </div>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>