<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Assets", assets_path , class: "breadcrumb") %>
      <%= link_to("New", '#' , class: "breadcrumb active") %>
    </div>
  </div>
</nav>
<% if @resource.errors.any? %>
<ul>
  <% @resource.errors.full_messages.each do |msg| %>
    <li class="red_font_clr"><%= msg %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
  <div class="col s12">
    <div id="input-fields" class="card card-tabs">
      <div class="card-content">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m6 l10">
              <h4 class="card-title">Add Asset</h4>
            </div>
          </div>
        </div>
        <div id="view-input-fields">
          <div class="row">
            <div class="col s12">
              <%= form_for @resource, class: 'row' do |f| %>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.text_field :name, required: true %><br />
                    <label for="name">Name *</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.select :bought_type, Asset.bought_types.keys.to_a.map { |e| e.humanize  } %>
                    <label for="bought_type">Bought Type</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.text_field :code, required: true %><br />
                    <label for="name">Code *</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.select(:asset_type_id,  AssetType.all.order('name').collect{|p| [p.name, p.id]}, {:include_blank => "Select"}, {:class => "some_class"} ) %>
                    <label for="asset_type_id">Asset Type</label>
                  </div>   

                  <div class="input-field col s12">
                    <%= f.text_field :price, required: true %><br />
                    <label for="price">Price *</label>
                  </div>

                  <div class="input-field col s12">
                    <%= f.text_field :warranty %><br />
                    <label for="warranty">Warranty/Gurantee </label>
                  </div>

                  <div class="input-field col s12">
                    <%= f.text_area :specification, class: "materialize-textarea" %><br />
                    <label for="specification">Specification</label>
                  </div>

                  <div class="input-field col s12">
                    <%= f.select(:bill_id,  Bill.all.collect{|p| [p.number, p.id]}, {:include_blank => "Select"}, {:class => "some_class"} ) %>
                    <label for="bill_id">Bill Number</label>
                  </div>

                  <div class="input-field col s12">
                    <%= f.select :current_status, Asset.statuses.keys.to_a.map { |e| e.humanize  } %>
                    <label for="current_status">Current Status</label>
                  </div> 

                  <div class="input-field col s12">
                    <%= f.text_area :notes, class: "materialize-textarea" %><br />
                    <label for="notes">Notes</label>
                  </div>

                  <div class="input-field col s12 mobile-center">
                    <%= f.submit 'Submit', class: "btn btn-success mb-2" %>
                    <%= link_to("Back", assets_path , class: "btn cyan waves-effect waves-light mb-2" ) %>
                  </div>
                </div>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
