<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Assets", assets_path , class: "breadcrumb") %>
      <%= link_to("View Details", '#' , class: "breadcrumb active") %>
    </div>
  </div>
</nav>
<div class="col s12 card-content-link">
  <div class="card card-tabs">
    <div class="card-content">
      <div class="card-title">
        <div class="row">
          <div class="col s12 m6 l10">
            <h5>Asset Details</h5>
          </div>
        </div>
      </div>
    
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Name </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.name %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Bought Type </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.bought_type %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Asset Type </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.asset_type&.name %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Price </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.price %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Specification </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.specification %></span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col s12 m3">
          <span><b>Warranty/Guarantee</b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.warranty %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Bill Number</b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.bill&.number %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Current Status </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.current_status %></span>
        </div>
      </div>
      <br>
      <div class="row">  
        <div class="col s12 m3">
          <span><b>Notes </b></span>
        </div>
        <div class="col s12 m9">
          <span><%= @resource&.notes %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<% if current_user.admin? %>
	<div class="col s12">
	  <div class="mobile-center">
	    <%= link_to 'Edit', edit_asset_path(@resource), class: 'btn btn-primary mb-2' if current_user.admin? %>
	    <%= link_to 'Delete', asset_path(@resource), class: 'btn waves-effect waves-light red accent-2 mb-2',  method: :delete, data: {confirm: "Are you sure?"} %>
	    <%= link_to 'Back', assets_path, class: 'btn cyan waves-effect waves-light mb-2' %>
	  </div>
	</div>
<% end %>