<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Credentials", credentials_path , class: "breadcrumb") %>
      <%= link_to("New", '#' , class: "breadcrumb active") %>
    </div>
  </div>
</nav>
<% if @resource.errors.any? %>
<ul>
  <% @resource.errors.full_messages.each do |msg| %>
    <li class="red_font_clr"><%= msg %></li>
  <% end %>
</ul>
<% end %>
<div class="row">
  <div class="col s12">
    <div id="input-fields" class="card card-tabs">
      <div class="card-content">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m6 l10">
              <h4 class="card-title">Add Credential</h4>
            </div>
          </div>
        </div>
        <div id="view-input-fields">
          <div class="row">
            <div class="col s12">
              <%= form_for @resource, class: 'row' do |f| %>
                <%= f.hidden_field :last_updated_by, value: current_user.full_name %>
                <div class="row">
                  <div class="input-field col s12">
                    <%= f.text_field :project_name %><br />
                    <label for="project_name">Project name</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.select(:credential_type_id,  CredentialType.all.order('name').collect{|p| [p.name, p.id]}, {:include_blank => "Select"}, {:class => "some_class"} ) %>
                    <label for="credential_type_id">Credential Type</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.text_field :email %><br />
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.text_field :link %><br />
                    <label for="link">Link</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.text_field :password %><br />
                    <label for="password">Password</label>
                  </div>
                  <div class="input-field col s12">
                    <label for="notes">Notes</label>
                  </div>
                  <div class="input-field col s12">
                    <%= f.cktext_area :notes, as: :ckeditor %><br />
                  </div>
                  <div class="input-field col s12 mobile-center">
                    <%= f.submit 'Submit', class: "btn btn-success mb-2" %>
                    <%= link_to("Back", credentials_path , class: "btn cyan waves-effect waves-light mb-2" ) %>
                  </div>
                </div>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
