<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Credentials", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12">
                <div class="card-title d-flex">
                <span class="font-26 flex-grow-1">Credentials</span>
                <span><%= link_to 'ADD', new_credential_path, class: "btn cyan waves-effect waves-lightc " %></span>
              </div>
            </div>
          </div>
          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12 table-responsive">
                <table class="designation-table">
                  <thead>
                    <tr>
                      <th>Projec Name</th>
                      <th>Credential Type</th>
                      <th>Notes</th>
                      <th>Last Updated on</th>
                      <th>Last updated By</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |credential| %>
                      <tr>
                        <td><%= credential.project_name %></td>
                        <td><%= credential.credential_type.name %></td>
                        <td><%= credential.notes %></td>
                        <td><%= credential.updated_at %></td>
                        <td><%= credential.last_updated_by %></td>
                        <td><%= link_to 'Edit', edit_credential_path(credential.id) %></td>
                        <td><%= link_to 'Delete', credential_path(credential.id), method: :delete, data: {confirm: "Are you sure?"}  %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
