<nav class="clean">
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to("Dashboard", root_path , class: "breadcrumb") %>
      <%= link_to("Checklists", '#' , class: "breadcrumb") %>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col s12">
      <div id="borderless-table" class="card card-tabs">
        <div class="card-content">
          <div class="card-title">
            <div class="row">
              <div class="col s12">
                <div class="card-title d-flex">
                <span class="font-26 flex-grow-1">Checklist</span>
                <% if (can? :manage, Checklist) || (can? :create, Checklist) %>
                  <span><%= link_to 'ADD', new_checklist_path, class: "btn cyan waves-effect waves-lightc " %></span>
                <% end %>
              </div>
            </div>
          </div>

          <div id="view-borderless-table">
            <div class="row">
              <div class="col s12 table-responsive">
                <table id="checklists" class="list-group striped" data-url="<%= sort_checklists_path %>">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Checklists</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @resources.each do |checklist| %>
                      <tr id="<%= dom_id(checklist) %>">
                        <td><%= checklist.category %></td>
                        <td><%= checklist&.checklist_items&.pluck(:name).map{|e| content_tag(:li, e) }.inject(:+).html_safe %></td>
                        <td><%= checklist.status %></td>
                        <td><%= link_to 'Show', checklist_path(checklist.id) if (can? :manage, Checklist) || (can? :show, Checklist) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

<script type="text/javascript">
  $(function() {
    $("#checklists tbody").sortable({
      cursor: "move",
      placeholder: "sortable-placeholder",
      helper: function(e, tr)
      {
        var $originals = tr.children();
        var $helper = tr.clone();
        $helper.children().each(function(index)
        {
        // Set helper cell sizes to match the original sizes
        $(this).width($originals.eq(index).width());
        });
        return $helper;
      },
      update: function(e, ui) {
        $.ajax({
          url: '/checklists/sort',
          type: 'PATCH',
          data: $(this).sortable('serialize')
        });
      }
    }).disableSelection();
  });
</script>
