 <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
      <div class="brand-sidebar">
        <h1 class="logo-wrapper">
          <%= link_to root_path , class: "brand-logo darken-1 sm-dis-none" do %>TPS HRMS<% end %></h1>
      </div>
      <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
        <div class="brand-sidebar sm-menu sm-dis-block desk-dis-none">
         <h1 class="logo-wrapper">
          <%= link_to root_path , class: "brand-logo darken-1 " do %>TPS HRMS<% end %></h1>
        </div>
        <% if current_user.admin? %>
          <li class=" <%= active_class(root_path) %> + bold"><%= link_to(root_path, class: "waves-effect waves-cyan") do %><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="">Dashboard</span><% end %>
          </li>
           <li class=" <%= active_class(leaves_path) %> + bold"><%= link_to(leaves_path, class: "waves-effect waves-cyan") do %><i class="material-icons">date_range</i><span class="menu-title" data-i18n="">Leaves</span><% end %>
          </li>
          <li class=" <%= active_class(birthday_anniversary_users_path) %> + bold"><%= link_to(birthday_anniversary_users_path, class: "waves-effect waves-cyan") do %><i class="material-icons">cake</i><span class="menu-title" data-i18n="">Birthday/Anniversary</span><% end %>
          </li>
          <li class=" <%= active_class(holidays_path) %> + bold"><%= link_to(holidays_path, class: "waves-effect waves-cyan") do %><i class="material-icons">date_range</i><span class="menu-title" data-i18n="">Holidays</span><% end %>
          </li>
           <li class=" <%= active_class(users_path) %> + bold"><%= link_to(users_path, class: "waves-effect waves-cyan") do %><i class="material-icons">group</i><span class="menu-title" data-i18n="">Users</span><% end %>
          </li>
          <li class=" <%= active_class(projects_path) %> + bold"><%= link_to(projects_path, class: "waves-effect waves-cyan") do %><i class="material-icons">group</i><span class="menu-title" data-i18n="">Projects</span><% end %>
          </li>
         
          <!-- <li class=" <%#= active_class(employee_designation_path) %> + bold"><%#= link_to(employee_designation_path, class: "waves-effect waves-cyan") do %><i class="material-icons">description</i><span class="menu-title" data-i18n="">Designation</span><%# end %>
          </li> -->
         <li class=" <%= active_class(employee_handbooks_path) %> + bold"><%= link_to(employee_handbooks_path, class: "waves-effect waves-cyan") do %><i class="material-icons">library_books</i><span class="menu-title" data-i18n="">Employee Handbook</span><% end %>
          </li>

          <li class=" <%= active_class(designations_path) %> + bold"><%= link_to(designations_path, class: "waves-effect waves-cyan") do %><i class="material-icons">description</i><span class="menu-title" data-i18n="">Designation Management</span><% end %>
          </li>

          <li class=" <%= active_class(degrees_path) %> + bold"><%= link_to(degrees_path, class: "waves-effect waves-cyan") do %><i class="material-icons">school</i><span class="menu-title" data-i18n="">Degree</span><% end %>
          </li>

          <li class=" <%= active_class(departments_path) %> + bold"><%= link_to(departments_path, class: "waves-effect waves-cyan") do %><i class="material-icons">business</i><span class="menu-title" data-i18n="">Department</span><% end %>
          </li>

          <li class=" <%= active_class(roles_path) %> + bold"><%= link_to(roles_path, class: "waves-effect waves-cyan") do %><i class="material-icons">toll</i><span class="menu-title" data-i18n="">Role</span><% end %>
          </li>

          <li class=" <%= active_class(free_leaves_path) %> + bold"><%= link_to(free_leaves_path, class: "waves-effect waves-cyan") do %><i class="material-icons">date_range</i><span class="menu-title" data-i18n="">Free Leave</span><% end %>

          <li class=" <%= active_class(leave_report_leaves_path) %> + bold"><%= link_to(leave_report_leaves_path, class: "waves-effect waves-cyan") do %><i class="material-icons">list_alt</i><span class="menu-title" data-i18n="">Leave Report</span><% end %>
          </li>
          <li class=" <%= active_class(event_managements_path) %> + bold"><%= link_to(event_managements_path, class: "waves-effect waves-cyan") do %><i class="material-icons">event</i><span class="menu-title" data-i18n="">Event Management</span><% end %>
          </li>
          <li class=" <%= active_class(event_managements_path) %> + bold"><%= link_to(event_links_path, class: "waves-effect waves-cyan") do %><i class="material-icons">link</i><span class="menu-title" data-i18n="">Event Link</span><% end %>
          </li>

        <% else %>
          <li class=" <%= active_class(root_path) %> + bold" ><%= link_to(root_path, class: "waves-effect waves-cyan") do %><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="">Dashboard</span><% end %>
          </li>
          <li class=" <%= active_class(user_path(current_user)) %> + bold" ><%= link_to(user_path(current_user), class: "waves-effect waves-cyan") do %><i class="material-icons">account_circle</i><span class="menu-title" data-i18n="">My Profile</span><% end %>
          </li>
           <li class=" <%= active_class(users_path) %> + bold"><%= link_to(users_path, class: "waves-effect waves-cyan") do %><i class="material-icons">group</i><span class="menu-title" data-i18n="">Users</span><% end %>
          </li>
           <li class=" <%= active_class(calender_path) %> + bold"><%= link_to(calender_path, class: "waves-effect waves-cyan") do %><i class="material-icons">date_range</i><span class="menu-title" data-i18n="">Leaves</span><% end %>
          </li>
          <li class=" <%= active_class(holidays_path) %> + bold"><%= link_to(holidays_path, class: "waves-effect waves-cyan") do %><i class="material-icons">date_range</i><span class="menu-title" data-i18n="">Holidays</span><% end %>
          </li>
          <li>
            <li class=" <%= active_class(birthday_anniversary_users_path) %> + bold"><%= link_to(birthday_anniversary_users_path, class: "waves-effect waves-cyan") do %><i class="material-icons">cake</i><span class="menu-title" data-i18n="">Birthday/Anniversary</span><% end %>
          </li>
           <li class=" <%= active_class(employee_handbooks_path) %> + bold"><%= link_to(employee_handbooks_path, class: "waves-effect waves-cyan") do %><i class="material-icons">library_books</i><span class="menu-title" data-i18n="">Employee Handbook</span><% end %>

          </li>
          <% if current_user.is_event_manager? %>
            <li class=" <%= active_class(event_managements_path) %> + bold"><%= link_to(event_managements_path, class: "waves-effect waves-cyan") do %><i class="material-icons">event</i><span class="menu-title" data-i18n="">Event Management</span><% end %>
            </li>
          <% end %>
          <li class=" <%= active_class(event_managements_path) %> + bold"><%= link_to(event_links_path, class: "waves-effect waves-cyan") do %><i class="material-icons">link</i><span class="menu-title" data-i18n="">Event Link</span><% end %>
          </li>
        <% end %>
        <li class=" <%= active_class(new_contact_path) %> + bold"><%= link_to(new_contact_path, class: "waves-effect waves-cyan") do %><i class="material-icons">mail</i><span class="menu-title" data-i18n="">Suggestion</span><% end %>

        
      </ul>
      <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
     
    </aside>
